*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
.loader{
    width: 100%;
    padding-top: 200px;
    text-align: center;
    height: 100%;
}
@keyframes loadingAnimation {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.loader h2{
    display: flex;
    width: 120px;
    height: 120px;
    margin: auto;
}
.loader h2 .dot{
    display: flex;
    animation: loadingAnimation 1s infinite;
    animation-delay: 0.05s;
}
.loader h2 .dot1{
    display: flex;
    animation: loadingAnimation 1s infinite;
    animation-delay: 0.10s;
}
.loader h2 .dot2{
    display: flex;
    animation: loadingAnimation 1s infinite;
    animation-delay: 0.15s;
}
:root{
    --color-background: #FFF;
    --color-text: #202C36;
    --color-card: #fff;
}
.white{
    --color-background: #FFF;
    --color-text: #202C36;
    --color-card: #fff;
}
.dark{
    --color-background: #202C36 ;
    --color-text: #FFF;
    --color-card: #2B3844;
}
body{
    background-color: var(--color-background);
}
h2{
    color: var(--color-text);
}
.mode {
    color: var(--color-text);
}
path{
    fill: var(--color-text);
    stroke: var(--color-text);
}
.wrapper{
    color: var(--color-text);
}
.header{
    width: 1440px;
    margin: 0px auto;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    padding: 23px 80px;
    justify-content: space-between;
    background: var(--color-card);
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}
.mode{
    padding: 0;
    display: flex;
    height: 22px;
    gap: 8px;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    align-items: center;
}
.back{
    cursor: pointer;
    margin: 80px;
    display: flex;
    gap: 10px;
    padding: 10px 32px;
    border-radius: 6px;
    background: var(--color-card);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
    width: 136px;
    flex-shrink: 0;
    align-items: center;
    height: 40px;
}
.wrapper{
    width: 1440px;
    margin: 0px auto;
}
.block{
    width: 1440px;
    margin: 0px auto;
    padding-right: 80px;
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.country__text{
    width: 598px;
    height: 323px;
    flex-shrink: 0;
}
.country__text h3{
    color: var(--color-text);
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 23px;
}
.location p, .more__info p{
    color: var(--color-text);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 200% */
}
.location p span, .more__info p span{
    color: var(--color-text);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.near span{
    display: flex;
    width: 140px;
    margin-right: 15px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    color: var(--color-text);
}
.near button{
    cursor: pointer;
    padding: 5px 28px;
    border-radius: 2px;
    border: 0px solid #979797;
    background: var(--color-background);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.10);
    height: 28px;
    color: var(--color-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.near{
    display: flex;
}
.other{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.flag img{
    width: 559.715px;
    height: 483.169px;
    flex-shrink: 0;
}

@media (max-width: 1440px) {
    .header{
        width: 1204px;
    }
    .wrapper{
        width: 1204px;
    }
    .main{
        width: 1204px;
    }
    .block{
        width: 598px;
        margin: 0px auto;
        display: block;
    }
}

@media (max-width: 1204px) {
    .header{
        width: 1024px;
    }
    .wrapper{
        width: 1024px;
    }
    .main{
        width: 1024px;
    }
}
@media (max-width: 1024px) {
    .header{
        width: 840px;
    }
    .wrapper{
        width: 840px;
        justify-content: center;
    }
    .main{
        width: 840px;
    }
    h3{
        margin-top: 20px;
    }
}
@media (max-width: 840px) {
    .header{
        margin: 0px auto;
        width: 560px;
    }
    .wrapper{
        width: 560px;
        justify-content: center;
    }
    .main{
        width: 560px;
    }
    .back{
        margin-left: 0px;
    }
    .navigation{
        display: block;
    }
    .more__info, .navigation, .country__text, .main{
        width: 560px;
    }
}
@media (max-width: 560px) {
    body{
        padding: 0px;
        display: block;
        margin-right: 0px;
    }
    .header{
        width: 400px;
        padding: 30px 16px;
    }
    h2{
        font-size: 14px;
    }
    .mode{
        font-size: 12px;
    }
    .wrapper{
        display: block;
        width: 400px;
        margin: 0px auto;
    }
    .flag img{
        display: block;
        width: 400px;
        height: 275.924px;
        flex-shrink: 0;
    }
    .back{
        margin-left: 0px;
    }
    .block{
        margin: 0px auto;
        padding: 0px;
        width: 400px;
    }
    .main{
        margin: 0px auto;
    }
    .navigation{
        display: block;
    }
    .more__info, .navigation, .country__text, .main{
        width: 400px;
    }
    .near{
        width: 400px;
    }
}